# macOS system files
.DS_Store

# Python bytecode
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/

# VSCode / PyCharm / JetBrains IDEs
.idea/

# Build and cache directories
.cache/

# Optional: prevent accidental upload of big or local files
*.pkl
*.pdf

# Fine-tuned model and local model cache
fine_tuned_model/
models/
results/
